<html>
    <head>
        {{ 'style.css' | asset_url | stylesheet_tag }}
        {{ content_for_header }}
    </head>
    <body>
        {% render 'header' %}
        {{ content_for_layout }}
    </body>
</html>