<h1>{{ page.title }}</h1>
<p>{{ page.content }}</p>

{% form 'contact' %}
    {{ form.errors | default_errors }}
   
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="contact[email]" id="email" />
    </div>

    <div class="test">
        <label for="test">Test</label>
        <input type="test" name="contact[test]" id="test" />
      </div>
  
    <div class="message">
      <label for="message">Message</label>
      <textarea name="contact[body]" id="message"></textarea>
    </div>
  
    <div class="submit">
      <input type="submit" value="Create" />
    </div>
  {% endform %}
  